*.log
check*.py
data/input/*
data/tmp
data/parquets/*
!data/input/*.src
!data/input/April2022Crossref.torrent
!data/input/orcid_works_2022.lsv
!data/schemes
!data/parquets/examples
repo/quality.json
repo/monitor.json
!repo/quality_ORCID_2023.json
**/__pycache__
analyze.sh

